/* * * 페이지 초기화 * * */
* {
    margin: 0; padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li {list-style: none;}
a {
    text-decoration: none;
    color: navy;
    display: block; /* 말줄임 태그 적용, a 태그 공간 확장 */
}

/* * * header * * */
header {background-color: #ea8f00;}

/* * * header #logo_wrap * * */
header #logo_wrap {
    line-height: 50px;
    text-align: center;
    position: relative;
}
header #logo_wrap .menu {
    position: absolute;
    left: 0; top: 0;
}
header #logo_wrap .myinfo {
    position: absolute;
    right: 0; top: 0;
}
header #logo_wrap a {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

/* * * header #search * * */
header #search {
    height: 50px;
    position: relative;
}
header #search input[type=text] {
    width: 100%; /* 100% - 50px 넣고 싶은데 안 먹힘*/
    height: 50px;
    border: 3px solid #ea8f00;
    box-sizing: border-box;
    outline: 3px solid #ea8f00;
    font-size: 1.2em;
    padding: 0 55px 0 5px;
}
header #search input[type=submit] {
    width: 50px; height: 50px;
    background: url(ch07/search.png);
    border: 0; outline: 0;
    position: absolute;
    top: 0; right: 0;
}

/* * * #lnb * * */
#lnb ul {
    margin: 7px 0;
    overflow: hidden;
}
#lnb ul li {
    float: left;
    width: 16.66%;
    text-align: center;
    border-right: #ea8f00 solid 2px;
    box-sizing: border-box;
    line-height: 25px;
}
#lnb ul li:last-child {
    border-right: none;
}
/* * * checkBox : #toggle이 checked일 때만 lnb 보이도록 * * */
#lnb {display: none;}
#toggle:checked ~ #lnb {display: block;}
#toggle {display: none;}

/* * * #section1 * * */
#section1 {margin: 5px 3px;}
#section1 > div { /* .row1, .row2, .row3 */
    overflow: hidden;
}
#section1 > * > div {
    float: left;
    width: 50%; height: 120px;
    border: 2px solid white;
    box-sizing: border-box;
}
#section1 img {
    width: 100%; height: 120px;
    object-fit: fill; /* 높이가 설정값(120px) 미만인 경우 채움 */
}

/* * * #section2 * * */
#section2 {margin: 5px 3px;}
#section2 ul li a {
    border: 1px solid gray;
    padding: 7px;
    /* 말줄임 태그: display 속성 block일 때만 가능) */
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

/* * * #section3 * * */
#section3 {margin: 5px 3px;}
#section3 ul li {
    border: 1px solid gray;
    padding: 10px; height: 100px; /* 높이 120px 차지 */
}
#section3 ul li p.img {
    float: left;
    padding-right: 10px;
}
#section3 ul li p.text span:first-child {
    display: block;
    /* 말줄임 태그 */
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    font-size: 1.3em;
    color: navy;
}

/* * * footer * * */
footer { 
    background-color: #ea8f00;
    text-align: center;
}
footer p:last-child {
    font-size: 0.8em;
    color: #333333;
    padding-bottom: 5px;
}